#inicio {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 80px 8%;

    background:
        linear-gradient(to right, rgba(13, 13, 13, .95), rgba(13, 13, 13, .55)),
        url("../images/macroodry-machine-8254053_1920.jpg") center / cover;
}

#inicio p:first-child {
    color: #C8A96B;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#inicio h1 {
    max-width: 650px;
    font-size: 60px;
    line-height: 1.05;
    margin-bottom: 25px;
}

#inicio h1 span {
    color: #C8A96B;
}

#inicio p {
    max-width: 500px;
    color: #A3A3A3;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 35px; 
}

#inicio a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #C8A96B;
    color: #0D0D0D;
    font-weight: bold;
    transition: 0.3s;
}

#inicio a:hover {
    background-color: #E0C48A;
}
